# Dependency directories
node_modules/
jspm_packages/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
build/
dist/
out/

# IDE and Editor folders
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp

# Dependency lock files
package-lock.json
yarn.lock

# Upload history for analysis
uploads_history/
uploads/
server_pass

